//--------------------------------------------------------------
// Global Resets/Overrides
//--------------------------------------------------------------
*,
::after,
::before {
	@apply box-border break-words;

	word-wrap: break-word;
}

html {
	scroll-behavior: smooth;
}

pre {
	@apply overflow-auto;
}

.svg-sprite-wrapper {
	display: none;
}

.alignfull {
	@apply w-screen mx-alignfull #{!important};

	> * {
		@apply container;
	}

	> figure,
	> img,
	figure,
	img {
		@apply lg:container;
		@apply px-0;
	}
}

figure {
	&.aligncenter,
	&.alignleft,
	&.alignright {
		@apply mx-auto;
	}

	&.alignleft,
	&.alignright {
		@apply block;

		&::after {
			@apply clear-both;
		}
	}

	&.alignleft {
		@apply md:float-left md:ml-0 md:mr-4;
	}

	&.alignright {
		@apply md:float-right md:mr-0 md:ml-4;
	}

}

figcaption {
    @apply text-sm py-2 mb-4;
	@apply flex justify-end max-w-screen-lg;
}

.badge,
.badge-outline {
    @apply h-fit inline-flex self-center items-center align-middle py-px line-clamp-1;
	@apply px-3 border border-primary rounded-full text-primary text-xs text-center tracking-wide font-display font-light uppercase leading-none;
	@apply bg-primary text-white;
	
}

.badge {
	@apply text-primary;
    @apply hover:bg-transparent focus:bg-transparent hover:text-primary focus:text-primary;
}

.badge-outline {
    @apply bg-transparent;
	@apply hover:bg-primary focus:bg-primary hover:text-white focus:text-white;
}

.is-style-summary {
	@apply border border-gray-300 bg-gray-100 p-4;

	.wp-block-heading {
		@apply first:mt-0;
	}

	> ul,
	> ol {
		@apply md:columns-2;
		@apply pl-0  #{!important};

		> li {
			@apply list-none pl-0 ml-0;
		}

		ul,
		ol {
			@apply my-0 #{!important};
		}
	}

	li {
		@apply break-inside-avoid-column;
	}
}

header + figure {
	@apply mt-0;
}

.wp-block-search {
	&__button {
		&.has-icon {
			@apply bg-transparent p-0;
		}
	}
}

.card {
	@apply h-full;

	.card-actions {
		@apply mt-auto;
	}
}